
<div class="container">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <form>
        <div class="form-group">
            <label for="Date">Date</label>
            <input type="date" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="skill">Language</label>
            <select class="form-control">
            <option>HTML</option>
            <option>CSS</option>
            <option>JavaScript</option>
            <option>Ruby</option>
            <option>Job</option>
            </select>
        </div>
        <div class="form-group">
            <label for="skill">Skill</label>
            <select class="form-control">
            <option>Fundementals</option>
            <option>Framework</option>
            <option>Project</option>
            <option>Job</option>
            </select>
        </div>
        <div class="form-group">
            <label for="summary">Summary</label>
            <textarea class="form-control" rows="2"></textarea>
        </div>
        <div class="form-group">
            <label for="Description">Full Description</label>
            <textarea class="form-control" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-lg-2"></div>
</div>